
# Compiled object files
*.o
*.obj

# Compiled static libraries
*.a

# Compiled dynamic/shared libraries
*.so
*.dll
*.dylib

# Executables
out
*.exe

# Debug files
*.dSYM/
*.dmp
*.stackdump

# Temporary files created by editors
*~
*.swp
*.swo
*.tmp
*.bak

# macOS specific
.DS_Store

# Build directories
build/
bin/
