

## Executables
out
*.exe

## Compiled object files
*.o
*.obj

## Build directories
build/
bin/

## IDE files
*~
*.swp
*.swo
*.tmp
*.bak

## OS-specific 
.DS_Store

## Compiled static libraries
*.a

# Compiled dynamic/shared libraries
*.so
*.dll
*.dylib

# Debug files
*.dSYM/
*.dmp
*.stackdump
